In [3]:
[0,1]+0

TypeError: can only concatenate list (not "int") to list

In [4]:
import pickle

In [11]:
from src.config import ROOT_DIR
import os
import pandas as pd
os.chdir(ROOT_DIR)

In [15]:
meta_f = "data/processed/kawasaki/test_run/all_nsample1000/tidy/meta.tsv"
meta = pd.read_csv(meta_f, sep="\t", index_col=0)
embedding_f = "results/kawasaki/test_run/all_nsample1000/log10_z/umap_out/100_0.0/embedding_0.p"
[_, indices] = pickle.load(open(embedding_f,"rb"))

data = meta.loc[indices]

In [16]:
label_f = "results/kawasaki/test_run/all_nsample1000/log10_z/umap_out/100_0.0/phenograph_out/100_60.p"
labels = pickle.load(open(label_f.replace(".p","")+".p",'rb'))
data["Cluster"] = labels
data

               Sample  Timepoint Stimuli  Field Number  Cluster
index
44_1_A_1            1          1       A             1        7
13110_1_A_1         1          1       A             3       81
13024_1_A_1         1          1       A             3       35
12964_1_A_1         1          1       A             3       35
13182_1_A_1         1          1       A             3       35
...               ...        ...     ...           ...      ...
5744_12_H_24       12         24       H             1       75
15639_12_H_24      12         24       H             2       42
27988_12_H_24      12         24       H             3       47
27965_12_H_24      12         24       H             3      115
15732_12_H_24      12         24       H             2       60

[953158 rows x 5 columns]

In [37]:
import seaborn as sns

In [40]:
list(clusts_to_keep.values)+[-1]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, -1]

In [42]:
data["Cluster"].isin(list(clusts_to_keep.values)+[-1])

108793

In [43]:
clust_count = data["Cluster"].value_counts()
clusts_to_keep = clust_count.sort_values(ascending=False)[:10].index
data[~(data["Cluster"].isin(list(clusts_to_keep.values)+[-1]))] = -2
data

               Sample  Timepoint Stimuli  Field Number  Cluster
index
44_1_A_1            1          1       A             1        7
13110_1_A_1        -2         -2      -2            -2       -2
13024_1_A_1        -2         -2      -2            -2       -2
12964_1_A_1        -2         -2      -2            -2       -2
13182_1_A_1        -2         -2      -2            -2       -2
...               ...        ...     ...           ...      ...
5744_12_H_24       -2         -2      -2            -2       -2
15639_12_H_24      -2         -2      -2            -2       -2
27988_12_H_24      -2         -2      -2            -2       -2
27965_12_H_24      -2         -2      -2            -2       -2
15732_12_H_24      -2         -2      -2            -2       -2

[953158 rows x 5 columns]